<!DOCTYPE html>

<html>
 
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div><p>This site was created by Jake herman. It uses data from Mapbox.com and darksky.net</br></p></div>
        <img class="portrait" src="/img/profile_pic.jpg">
    </div>
    
    {{>footer}}
</body>
</html>